body {
    font-family: roboto, sans-serif;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    background-color: #1F2937;
    padding: 20px 175px 0;
    border: 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

ul {
    display: flex;
    gap: 20px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    display: flex;
    flex-direction: row-reverse;
    padding: 100px 170px;
    gap: 100px;
    background-color: #1F2937;
}

.hero img {
    width: 485px;
}

.hero .credit {
    text-align: center;
    color: #F9FAF8;
}

.primary {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.button-1 {
    padding-top: 10px;
}

.button-1 button {
    border: 2px solid #3882F6;
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
    padding: 6px 30px;
    font-size: 18px;
    font-weight: bold;
}

.information {
    text-align: center;
    height: 500px;
}

.information .title {
    padding: 45px ;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.container {
    display: flex;
    justify-content: center;
    gap: 41px;
}

.container .info img {
    width: 160px;
    height: 160px;
    border: 4px solid #3882F6;
    padding: 2px;
    border-radius: 15px;
}

.info {
    width: 172px;
}

.info .text {
    color: #1F2937;
}

.quote-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 400px;
    padding: 0 300px;
}

.thor-quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.quotes .thor {
    text-align: end;
    font-weight: bold;
    font-size: 24px;
}

.sign {
    display: flex;
    height: 350px;
    justify-content: center;
    align-items: center;
}

.blue-box {
    margin: 36px auto;
    display: flex;
    align-items: center;
    gap: 190px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 50px 110px;
    border-radius: 10px;
}

.blue-head {
    font-weight: bold;
    font-size: 24px;
}

.blue-head-2 {
    font-size: 18px;
}

.button-2 button {
    border: 2px solid #F9FAF8;
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
    padding: 6px 35px;
    font-size: 18px;
    font-weight: bold;
}

.footer {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
}
